<div class="product-block-list__item">
  <div>
    <div>
      <button id="openModalButton" data-action="open-modal" data-target="apepe">
        Tabela de Medidas
        {%- render 'icon', icon: 'arrow-right' -%}
      </button>
    </div>
  </div>
  <div id="apepe" class="modal" aria-hidden="true">
    <div class="modal__dialog" role="list">
      <header class="modal__header">
        <h3 class="modal__title heading h2">Compare as medidas com esta tabela.</h3>
        <button id="closeModalButton" class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
          {%- render 'icon', icon: 'close' -%}
        </button>
      </header>
      <div class="modal__content">
        <div class="rte">
          <table>
            <!-- Conteúdo da tabela aqui -->
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const openModalButton = document.getElementById('openModalButton');
  const closeModalButton = document.getElementById('closeModalButton');
  const modal = document.getElementById('apepe');

  openModalButton.addEventListener('click', function() {
    modal.classList.add('modal--open');
    modal.setAttribute('aria-hidden', 'false');
  });

  closeModalButton.addEventListener('click', function() {
    modal.classList.remove('modal--open');
    modal.setAttribute('aria-hidden', 'true');
  });
</script>
