<div class="product-block-list__item">
  <div>
    <div>
      <button data-action="toggle-modal" data-target="apepe">
        Tabela de Medidas
        {%- render 'icon', icon: 'arrow-right' -%}
      </button>
    </div>
  </div>
  <div id="apepe" class="modal" aria-hidden="true">
      <header class="modal__header">
        <h3 class="modal__title heading h2">Compare as medidas com esta tabela.</h3>
      </header>
    </div>
  </div>

<script>
  const toggleModalButtons = document.querySelectorAll('[data-action="toggle-modal"]');
  const modal = document.getElementById('apepe');

  toggleModalButtons.forEach(button => {
    button.addEventListener('click', function() {
      modal.classList.toggle('modal--open');
      const isHidden = modal.getAttribute('aria-hidden') === 'true';
      modal.setAttribute('aria-hidden', isHidden ? 'false' : 'true');
    });
  });
</script>
