<div id="free-shipping" style="margin-top: {{ block.settings.margin_top }}px; margin-bottom: {{ block.settings.margin_bottom }}px;">
     {%- render 'icon', icon: 'correios' -%}
    <p>
        <span class="ship-name">Frete Grátis:</span>
        <span class="ship-address"></span>
        <span class="ship-interval"></span>
    </p>
</div>

<script defer="defer">
    function somaDiasUteis(data, dias) {
        if (isNaN(dias) || !(data instanceof Date)) {
            return;
        }

        var dia = data.getDay();
        var diasAdd = parseInt(dias);

        if (dia === 0)
            diasAdd++;

        if (dia + diasAdd >= 6) {
            var diasDeTrabalhoRestante = diasAdd - (5 - dia);
            diasAdd += 2;
            if (diasDeTrabalhoRestante > 5) {
                diasAdd += 2 * Math.floor(diasDeTrabalhoRestante / 5);
                if (diasDeTrabalhoRestante % 5 === 0)
                    diasAdd -= 2;
            }
        }

        data.setDate(data.getDate() + diasAdd);
        return data;
    }

    function estimar() {
        var meses = [ "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
            "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro" ];

        var prazoMin = somaDiasUteis(new Date(), /* Coloque aqui o valor desejado para settings.first_date_free_ship */);
        var prazoMax = somaDiasUteis(new Date(), /* Coloque aqui o valor desejado para settings.interval_date_free_ship */);

        var xhr = new XMLHttpRequest();
        xhr.open("GET", "https://wtfismyip.com/json", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var local = JSON.parse(xhr.responseText);
                var localizacao = local['YourFuckingLocation'];
                var regiao = localizacao.replace(", Brazil", "");

                var shipAddress = document.querySelector(".ship-address");
                var shipInterval = document.querySelector(".ship-interval");

                shipAddress.innerHTML = 'Seu texto personalizado' + " " + regiao + " " + 'Seu outro texto personalizado';
                shipInterval.innerHTML = 'Seu terceiro texto personalizado' + ": " + "<span style='font-weight: 500;'>" + prazoMin.getDate() + " de " + meses[prazoMin.getMonth()] + " e " + prazoMax.getDate() + " de " + meses[prazoMax.getMonth()];

                var freeShipping = document.getElementById("free-shipping");
                freeShipping.style.display = "flex";
            }
        };
        xhr.send();
    }

    document.addEventListener('shopify:section:
