<section>
  <div class="container">
    <header class="page__header-content container--narrow">
      <h1 class="page__title heading h1">Acompanhe Seu Pedido</h1>
    </header>

    <div class="page__description rte">
      <span> oi</span>
    </div>
  </div>
</section>

<div style="text-align: center;">Enter your tracking number here to see your order status.</div>
<br />
<div style="text-align: center;"><input type="text" id="YQNum" maxlength="50" /> <input type="button" value="TRACK" onclick="doTrack()" /></div>
<div id="YQContainer"></div>
<!--Script code can be put in the bottom of the page, wait until the page is loaded then execute.-->
<script type="text/javascript" src="//www.17track.net/externalcall.js"></script>
<script type="text/javascript">// <![CDATA[
function doTrack() {
    var num = document.getElementById("YQNum").value;
    if(num===""){
        alert("Enter your number."); 
        return;
    }
    YQV5.trackSingle({
        //Required, Specify the container ID of the carrier content.
        YQ_ContainerId:"YQContainer",
        //Optional, specify tracking result height, max height 800px, default is 560px.
        YQ_Height:560,
        //Optional, select carrier, default to auto identify.
        YQ_Fc:"0",
        //Optional, specify UI language, default language is automatically detected based on the browser settings.
        YQ_Lang:"en",
        //Required, specify the number needed to be tracked.
        YQ_Num:num
    });
}
// ]]></script>
 
 
 
 
Confirmation Email Script:  !!Important!! CHANGE PAGE URL IN THE SCRIPT
 
 
{% if fulfillment.item_count == item_count %} 
  {% capture email_title %}Your order is on the way{% endcapture %}
  {% capture email_body %}<p>Good news, we have just shipped out your order 🙂 You can copy your tracking number below and enter it in the order tracking page to view your delivery status.<br><br>
Tracking number: {{fulfillment.tracking_numbers}}<br><br>
If your tracking number isn't working, please wait 2-3 days and try again. In most cases, your order is on the way, but the system information is delayed.</p>
{% endcapture %}
{% elsif fulfillment.item_count > 1 %} 
  {% if fulfillment_status == 'fulfilled' %}
    {% capture email_title %}The last items in your order are on the way{% endcapture %}
    {% capture email_body %}The last items in your order are on the way. Track your shipment to see the delivery status.{% endcapture %}
  {% else %}
    {% capture email_title %}Some items in your order are on the way{% endcapture %}
    {% capture email_body %}Some items in your order are on the way. Track your shipment to see the delivery status.{% endcapture %}
  {% endif %}
{% else %} 
  {% if fulfillment_status == 'fulfilled' %}
    {% capture email_title %}The last item in your order is on the way{% endcapture %}
    {% capture email_body %}The last item in your order is on the way. Track your shipment to see the delivery status.{% endcapture %}
  {% else %}
    {% capture email_title %}One item in your order is on the way{% endcapture %}
    {% capture email_body %}One item in your order is on the way. Track your shipment to see the delivery status.{% endcapture %}
  {% endif %}
{% endif %}
 
{% capture email_emphasis %}Estimated delivery date: <strong>{{fulfillment.estimated_delivery_at | date: "%B %-d, %Y"}}</strong>{% endcapture %}